body {
  background-color: #5112B6;
  font-family: 'Cormorant Garamond', serif;
}

.nav-bar {
  text-align: center;
  word-spacing: 2px;
  color: #8559cb;
  font-size: 36px;
  margin-top: 40px;
}

a.homelink:link {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

a.homelink:visited {
  color: white;
}

a.homelink:hover {
  color: #cab7e9;
}

a.otherlinks:link {
  color: #8559cb;
  text-decoration: none;
}

a.otherlinks:visited {
  color: #8559cb;
}

a.otherlinks:hover {
  color:#cab7e9;
}


.container {
  /* position: relative; */
  margin: 110px 80px 80px 80px;
}

.box-1 {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 520px;
  line-height: 28px;
  padding-top: 100px;
}

.box-2 {
  position: absolute;
  text-align: center;
  margin-top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  font-weight: 600;
  width: 1010px;
  line-height: 57px;
  padding-bottom: 80px;
  color: white;
}

.container-2 {
  position: relative;
  /* text-align: center; */
  margin-top: 900px;
  font-size: 24px;
  color: white;
  margin-left: 530px;
}

.text-animate {
  animation-name: moveleft;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moveleft {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 100px;
  }
}

.text-animate1 {
  animation-name: moveleft1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes moveleft1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -100px;
  }
}
