body {
  background-color: white;
  font-family: 'Cormorant Garamond', serif;
}

.nav-bar {
  text-align: center;
  word-spacing: 2px;
  color: #cab7e9;
  font-size: 36px;
  margin-top: 40px;
}

a.homelink:link {
  color: #5112B6;
  text-decoration: none;
  font-weight: 700;
}

a.homelink:visited {
  color: #5112B6;
}

a.homelink:hover {
  color: #cab7e9;
}

a.otherlinks:link {
  color: #cab7e9;
  text-decoration: none;
}

a.otherlinks:visited {
  color: #cab7e9;
}

a.otherlinks:hover {
  color: #5112B6;
}

.container {
  position: relative;
  margin: 110px 80px 80px 80px;
}

.box-1 {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 520px;
  line-height: 28px;
  padding-top: 100px;
}

.box-2 {
  position: absolute;
  text-align: center;
  margin-top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  font-weight: 600;
  width: 1010px;
  line-height: 57px;
  padding-bottom: 80px;
  color: white;
}

button {
  height: 400px;
  width: 400px;
  background-color: #5112B6;
  border-radius: 200px;
  border-style: none;
}

.button-position {
  position: relative;
  margin-left: 520px;
  margin-top: 400px;
}
