body {
  background-color: #5112B6;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}

.container {
  text-align: center;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 68px;
  display: inline-table;
  word-spacing: 6px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #8559cb;
}

.line {
  background-color: white;
  height: 4px;
  width: 60px;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-left: 140px;
  margin-top: 45px;
  /* animation-name: extendline;
  animation-duration: 5s;
  animation-iteration-count: 1; */
}

.line:hover {
  animation-name: extendline;
  animation-duration: 7s;
  animation-iteration-count: 1;
}

@keyframes extendline {
  0% {
    width: 60px;
    left: 0px;
  }
  100% {
    width: 1300px;
    left: 620px;
    background-color: #5112B6;
  }
}
